input[type=range] {
    height: 32px;
    margin: 10px 0;
    -webkit-appearance: none !important;

  }
  input[type=range]:focus {
    outline: none;

  }    


  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;

    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background-image: url('token.png');

    cursor: pointer;

  }
 